

html {
  font-size: 1rem;
  font-family: 'Bitter', serif;
  background-color: #000000;
}

body {
  padding:5rem 0;
  color:#FFFFFF;
}

a {
  text-decoration: underline;
  color: #FFFFFF;
}

a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

main {
  display:grid;
  grid-template-columns: 4, 1fr ;
  grid-auto-rows: 4(min-content);
  grid-gap:1rem;
  width: 80vw;
  margin: 0 auto;
}

.intro-block {
  grid-column:3 /4;
  grid-auto-rows:1 / 1 ;
}

.figure {
  grid-column:3 / 4;

}

.statement {
  grid-column:2 / 2;
}

.projects {
  grid-column:1 / 1;
}

.item {
  grid-column:1;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.definition {
  grid-column:2;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}



h1, h2, h3, h4, h5 {
  font-family: 'Comfortaa', sans-serif;
  margin-bottom:1rem;
}

h1 {
  font-size:3.375rem;
  font-weight:400;
}
h2 {
  font-size:2.25rem;
}
h3 {
  font-size:1.5rem;
  font-weight:200;
}
h5 {
  font-size:1.5rem;
  font-weight:200;
  color:#D3D3D3;

}
h4 {
  font-size:1rem;
}


li {
  font-size: 1rem;
  font-family: 'Comfortaa', sans-serif;
  line-height: 1.25;
  padding: .5rem 0;
  color:#D3D3D3;
}

p {
  font-size: 1rem;
  font-family: 'Bitter', serif;
  line-height: 1.25;
  margin-bottom:1rem;
}

.location {
  font-size: 1rem;
  font-family: 'Comfortaa', sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
}

img {
  display: block;
  margin: 0 auto;
}

figcaption {
  font-size: .5rem;
  font-family: 'Comfortaa', sans-serif;
  padding-top: 1rem;
}
